name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 3
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
      - name: Run tests
        run: make all
      - name: Run coverage
        run: make coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.txt
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build
        run: make build
      - name: Run GoReleaser build
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: build --rm-dist --snapshot
      - name: Docker Build
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: ohiosupercomputer/job-pod-reaper:latest
  test-helm:
    runs-on: ubuntu-latest
    name: Test Helm Chart
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.5.0
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/config/cf.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
      - name: Run chart-testing (lint)
        run: ct lint --config .github/config/cf.yaml
      - name: Create kind cluster
        uses: container-tools/kind-action@v1
        if: steps.list-changed.outputs.changed == 'true'
      - name: Build
        uses: docker/build-push-action@v2
        if: steps.list-changed.outputs.changed == 'true'
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: kind-registry:5000/job-pod-reaper:latest
          build-args: |
            VERSION=latest
      - name: Update chart values
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          sed -i \
            -e 's|tag: .*|tag: latest|g' \
            -e 's|repository: .*|repository: kind-registry:5000/job-pod-reaper|g' \
            charts/job-pod-reaper/values.yaml
          cat charts/job-pod-reaper/values.yaml
      - name: Run chart-testing (install)
        run: ct install --config .github/config/cf.yaml
        if: steps.list-changed.outputs.changed == 'true'
